.button-search{
    background-color: coral;
    color: black;
    padding: 2px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px 0 30px;
    cursor: pointer;
    border-color: black;
    box-shadow: black;
}